.contactForm {
  h1 {
    text-align: center;
  }
  form{
    label {
      text-align: center;
      display: block;
      margin: 5px 0;
    }
    input, select, textarea {
      width: 25%;
      padding: 7px;
      display: block;
      margin: 5px auto;
      text-align: center;
      border-radius: 5px 5px 5px 5px;
      border: 1px $black-color solid;
      background-color: #FFF;
      &:focus, &:hover, &:active, &:focus-within {
        border: 1px $primary-color solid;
        outline: none;
      }
    }
    .inline {
      display: block;
      text-align: center;
      margin: 5px 0;
      input, label {
        display: inline;
        width: 5%;
      }
    }
    output{
      text-align: center;
      display: block;
    }
  }
}
